{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Introduce-KIM MIN JI</title>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Great+Vibes|Pacifico&display=swap" rel="stylesheet">
  
</head>

<style>

    * {
        font-family: 'Do Hyeon', sans-serif;
        text-align: center;
    }

    h1 {
        background-color:rgba(0, 0, 255, 0.397);
        color: black;
    }


</style>
<body>
    <h1>김 민지</h1>
    <br>
    <h2>좋아하는 것: 강아지랑 산책하기 -> <img src="{% static '꽃님.jpg' %}" style="width:150px; height:150px;"></h2>
    <br>
    <h3><span style="border: 2px solid blue;"">부연설명</span>
        <p>저희집 강아지는 참 귀여워요. 이름은 <span style="color: rgba(0, 0, 255, 0.548);"><b>꽃님이</b></span>고, 종류는 코카스패니얼이에요. 
        나이도 많고 애교도 많고 말도 잘 들어요.</p>
    </h3>
</body>
</html>